* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.spinner-win {
    z-index: 9999;
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
}
.firm-border {
    border-top: 5px solid #F8C50E;
}

.gg {
    border: 2px solid green;
}

.rr {
    border: 2px solid red !important;
}

.ss {
    border: 2px solid blue;
}

/* ===== notify (same as .status) ===== */
.notify-status {
    position: fixed;
    bottom: -20px;
    right: 20px;
    width: auto;
    max-width: 350px;
    font-size: 1rem;
    z-index: 2050;
    transform: translateY(100%);
    transition: transform 1s ease-out;
    display: flex;
    align-items: center;
    gap: 10px;
}

.notify-status.show { transform: translateY(-60px); }
.notify-status.hide { transform: translateY(100%); }

.notify-countdown {
    font-size: 0.9rem;
    color: #fff;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 0 auto;
}

@media (max-width: 1200px) {
    .notify-status { font-size: 1rem; width: calc(100% - 40px); }
}
